.container {
	display: grid;
	grid-template-columns: 3rem 1fr;
	padding: 1rem;
	border-bottom: rgb(211, 211, 211, 0.294);
	gap: 1rem;
}

.textarea {
	width: 100%;
	color: white;
	font-size: 20px;
}

.textarea::placeholder{
	color: rgba(255, 255, 255, 30%);
}

.line_separator {
	height: 1px;
	background-color:  rgb(211, 211, 211, 0.294);
	margin: .5rem;
} 

.attachments_section {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: .5rem;
}

.flex_space {
	flex-grow: 1;
}